@use "../base/abstracts" as *;

.button{
  font-size: large;
  // font-weight: bold;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display:flex;
  justify-content: center ;
  align-items: center; 
  border: 0px;//TODO - remove semi circle border

  &--dark-gray{
    background-color: $dark-gray-color;
    color: $light-gray-color
    
  }
  &--light-gray{
    background-color: $light-gray-color;
    color: $dark-gray-color
  }
  &--yellow{
    background-color: $yellow-color;
    color:$white-color;
  }

  &--2span{
    grid-column: span 2;
    width: 140px;
    border-radius: 30px;
    justify-content: left;
    padding-left: 20px;
  }

  &:hover{
    filter: brightness(130%);
  } 
}


