@use "../base/abstracts" as *;

.button{
  font-size: medium;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  &--dark-gray{
    background-color: $dark-gray-color;
    color: $white-color;
  }
  &--light-gray{
    background-color: $light-gray-color;
    color: $dark-gray-color
  }
  &--yellow{
    background-color: $yellow-color;
    color:$white-color;
  }
}