.button {
  font-size: medium;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
}
.button--dark-gray {
  background-color: #666464;
  color: #fafafa;
}
.button--light-gray {
  background-color: #cecccc;
  color: #666464;
}
.button--yellow {
  background-color: #f1b252;
  color: #fafafa;
}