

$dark-gray-color:#333;//rgba(51,51,51,255);
$light-gray-color: #a5a5a5;//rgba(165,165,165,255);
$yellow-color: #f1a33c;//rgba(254,149,5,255);
$white-color: rgba(255,255,255,255);
$black-color:rgba(2,2,2,255);

